checking the versions

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np

# making a dataframe

### making a dataset of Copa America

>Group A

In [2]:
Group_A = pd.DataFrame({'Team':['Argentina','Canada', 'Chile','Peru'],'Matches played':[3,3,3,3] ,'Won':[3,1,0,0], 'Draw':[0,1,2,1], 'Lost':[0,1,1,2], 'Points':[9,4,2,1]})
Group_A

        Team  Matches played  Won  Draw  Lost  Points
0  Argentina               3    3     0     0       9
1     Canada               3    1     1     1       4
2      Chile               3    0     2     1       2
3       Peru               3    0     1     2       1

In [3]:
Group_A.to_excel('copa_group_a.xlsx')

>Group B

In [4]:
Group_B = pd.DataFrame({'Team':['Vanezuela','Equador', 'Mexico','Jamaica'],'Matches played':['3','3','3','3'] ,'Won':['3','1','1','0'], 'Draw':['0','1','1','0'], 'Lost':['0','1','1','3'], 'Points':['9','4','4','0']})
Group_B

        Team Matches played Won Draw Lost Points
0  Vanezuela              3   3    0    0      9
1    Equador              3   1    1    1      4
2     Mexico              3   1    1    1      4
3    Jamaica              3   0    0    3      0

> Group C

In [5]:
Group_C = pd.DataFrame({'Team':['Uraguay','Panama', 'USA','Bolivia'],'Matches played':['3','3','3','3'] ,'Won':['3','2','1','0'], 'Draw':['0','0','0','0'], 'Lost':['0','1','2','3'], 'Points':['9','6','3','0']})
Group_C

      Team Matches played Won Draw Lost Points
0  Uraguay              3   3    0    0      9
1   Panama              3   2    0    1      6
2      USA              3   1    0    2      3
3  Bolivia              3   0    0    3      0

>Group D

In [6]:
Group_D = pd.DataFrame({'Team':['Colombia','Brazil', 'Costa Rica','Paraguay'],'Matches played':['3','3','3','3'] ,'Won':['2','1','1','0'], 'Draw':['1','2','1','0'], 'Lost':['0','0','1','3'], 'Points':['7','5','4','0']})
Group_D

         Team Matches played Won Draw Lost Points
0    Colombia              3   2    1    0      7
1      Brazil              3   1    2    0      5
2  Costa Rica              3   1    1    1      4
3    Paraguay              3   0    0    3      0

`Combining these subset to a final set`

In [7]:
copa_america =pd.concat([Group_A, Group_B, Group_C, Group_D], ignore_index=True)
copa_america

          Team Matches played Won Draw Lost Points
0    Argentina              3   3    0    0      9
1       Canada              3   1    1    1      4
2        Chile              3   0    2    1      2
3         Peru              3   0    1    2      1
4    Vanezuela              3   3    0    0      9
5      Equador              3   1    1    1      4
6       Mexico              3   1    1    1      4
7      Jamaica              3   0    0    3      0
8      Uraguay              3   3    0    0      9
9       Panama              3   2    0    1      6
10         USA              3   1    0    2      3
11     Bolivia              3   0    0    3      0
12    Colombia              3   2    1    0      7
13      Brazil              3   1    2    0      5
14  Costa Rica              3   1    1    1      4
15    Paraguay              3   0    0    3      0

>using filter on the above data

In [8]:
copa_america[(copa_america.Won=='3')]

        Team Matches played Won Draw Lost Points
4  Vanezuela              3   3    0    0      9
8    Uraguay              3   3    0    0      9