In [33]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [34]:
df = pd.read_excel('data1.xlsx')

In [35]:
df.head()

,"DATA COLLECTION ""ASSESSING THE CASUE OF REFUSAL OF REGIONAL ANESTHESIA IN MALE ORTHOPEDIC PATIENT PRESENTING IN ORTHOPDIC OT""",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,S.NO,NAME,MR.NO,EDUCATION,AGE,ASA STATUS,GCS STATUS,SURGICAL PROCECDURE,PREVIOUS SURGERY,WHAT TYPE OF ANESTHESIA WAS GIVEN PREVIOUSLY,SATISFICTION WITH PREVIOUS ANESTHESIA,KNOWLEDGE OF ANESTHESIA,WHERE THE INFORMATION WAS GET,PREFERENCE,REASON OF REFUSAL OF RA
3,1,LUQMAN KHAN,7460012,ZERO,45,2,15,LOWER LIMB,NO,NaN,NaN,YES,HEALTH CARE PERSONNEL,GA,BACKACHE
4,2,TALHA KHAN,7444971,PRIMERY,18,1,15,LOWER LIMB,YES,GA,YES,YES,HEALTH CARE PERSONNEL,GA,BEING AWAKE INTRAOPERATIVELY

In [36]:
df.shape

(137, 15)

In [37]:
df

,"DATA COLLECTION ""ASSESSING THE CASUE OF REFUSAL OF REGIONAL ANESTHESIA IN MALE ORTHOPEDIC PATIENT PRESENTING IN ORTHOPDIC OT""",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,S.NO,NAME,MR.NO,EDUCATION,AGE,ASA STATUS,GCS STATUS,SURGICAL PROCECDURE,PREVIOUS SURGERY,WHAT TYPE OF ANESTHESIA WAS GIVEN PREVIOUSLY,SATISFICTION WITH PREVIOUS ANESTHESIA,KNOWLEDGE OF ANESTHESIA,WHERE THE INFORMATION WAS GET,PREFERENCE,REASON OF REFUSAL OF RA
3,1,LUQMAN KHAN,7460012,ZERO,45,2,15,LOWER LIMB,NO,NaN,NaN,YES,HEALTH CARE PERSONNEL,GA,BACKACHE
4,2,TALHA KHAN,7444971,PRIMERY,18,1,15,LOWER LIMB,YES,GA,YES,YES,HEALTH CARE PERSONNEL,GA,BEING AWAKE INTRAOPERATIVELY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,132,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,133,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134,134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135,135,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136,136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
df.describe()

,"DATA COLLECTION ""ASSESSING THE CASUE OF REFUSAL OF REGIONAL ANESTHESIA IN MALE ORTHOPEDIC PATIENT PRESENTING IN ORTHOPDIC OT""",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
count,135,109,107,106,107,108,108,97,106,16,16,107,12,107,107
unique,135,108,105,7,52,6,8,3,3,2,2,3,5,2,7
top,S.NO,yaseen khan,7456403,ZERO,18,1,15,LOWER LIMB,NO,GA,YES,NO,OTHERS,GA,BEING AWAKE INTRAOPERATIVELY
freq,1,2,2,44,13,60,72,68,90,15,15,96,5,106,59

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137 entries, 0 to 136
Data columns (total 15 columns):
 #   Column                                                                                                                         Non-Null Count  Dtype
---  ------                                                                                                                         --------------  -----
 0   DATA COLLECTION "ASSESSING THE CASUE OF REFUSAL OF REGIONAL ANESTHESIA IN MALE ORTHOPEDIC PATIENT PRESENTING IN ORTHOPDIC OT"  135 non-null    object
 1   Unnamed: 1                                                                                                                     109 non-null    object
 2   Unnamed: 2                                                                                                                     107 non-null    object
 3   Unnamed: 3                                                                                                                     106 non-null    object
 4   Unnamed: 4                                                                                                                     107 non-null    object
 5   Unnamed: 5                                                                                                                     108 non-null    object
 6   Unnamed: 6                                                                                                                     108 non-null    object
 7   Unnamed: 7                                                                                                                     97 non-null     object
 8   Unnamed: 8                                                                                                                     106 non-null    object
 9   Unnamed: 9                                                                                                                     16 non-null     object
 10  Unnamed: 10                                                                                                                    16 non-null     object
 11  Unnamed: 11                                                                                                                    107 non-null    object
 12  Unnamed: 12                                                                                                                    12 non-null     object
 13  Unnamed: 13                                                                                                                    107 non-null    object
 14  Unnamed: 14                                                                                                                    107 non-null    object
dtypes: object(15)
memory usage: 16.2+ KB

In [ ]:
dff = sns.load_dataset('titanic')

In [ ]:
dff

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [ ]:
dff.age.describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: age, dtype: float64