In [3]:
import pandas as pd
import seaborn as sns
import random as random

In [2]:
copa = pd.read_excel('copa_group_a.xlsx')
copa

   Unnamed: 0       Team  Matches played  Won  Draw  Lost  Points
0           0  Argentina               3    3     0     0       9
1           1     Canada               3    1     1     1       4
2           2      Chile               3    0     2     1       2
3           3       Peru               3    0     1     2       1

splitting the datasets in two

In [5]:
copa_1 = copa.sample(frac=0.5, random_state=1)
copa_1

   Unnamed: 0   Team  Matches played  Won  Draw  Lost  Points
3           3   Peru               3    0     1     2       1
2           2  Chile               3    0     2     1       2

dropping the other part

In [7]:
copa_2 = copa.drop(copa_1.index)
copa_2

   Unnamed: 0       Team  Matches played  Won  Draw  Lost  Points
0           0  Argentina               3    3     0     0       9
1           1     Canada               3    1     1     1       4

joining the two parts

In [12]:
mundo = pd.concat([copa_1,copa_2],ignore_index=False)
mundo

   Unnamed: 0       Team  Matches played  Won  Draw  Lost  Points
3           3       Peru               3    0     1     2       1
2           2      Chile               3    0     2     1       2
0           0  Argentina               3    3     0     0       9
1           1     Canada               3    1     1     1       4

In [13]:
gs = pd.read_csv('goalscorers.csv')
gs.head()

,date,home_team,away_team,team,scorer,minute,own_goal,penalty
0,7/2/1916,Chile,Uruguay,Uruguay,José Piendibene,44.0,False,False
1,7/2/1916,Chile,Uruguay,Uruguay,Isabelino Gradín,55.0,False,False
2,7/2/1916,Chile,Uruguay,Uruguay,Isabelino Gradín,70.0,False,False
3,7/2/1916,Chile,Uruguay,Uruguay,José Piendibene,75.0,False,False
4,7/6/1916,Argentina,Chile,Argentina,Alberto Ohaco,2.0,False,False

In [25]:
gs.tail(50)

,date,home_team,away_team,team,scorer,minute,own_goal,penalty
44300,6/30/2024,Spain,Georgia,Georgia,Robin Le Normand,18.0,True,False
44301,6/30/2024,Spain,Georgia,Spain,Rodri,39.0,False,False
44302,6/30/2024,Spain,Georgia,Spain,Fabián Ruiz,51.0,False,False
44303,6/30/2024,Spain,Georgia,Spain,Nico Williams,75.0,False,False
44304,6/30/2024,Spain,Georgia,Spain,Dani Olmo,83.0,False,False
44305,6/30/2024,Tahiti,Fiji,Fiji,Roy Krishna,58.0,False,False
44306,6/30/2024,Tahiti,Fiji,Tahiti,Teaonui Tehau,72.0,False,False
44307,6/30/2024,Tahiti,Fiji,Tahiti,Teaonui Tehau,83.0,False,False
44308,6/30/2024,Vanuatu,New Zealand,New Zealand,Cameron Howieson,2.0,False,False
44309,6/30/2024,Vanuatu,New Zealand,New Zealand,Jesse Randall,83.0,False,False
44310,6/30/2024,Vanuatu,New Zealand,New Zealand,Max Mata,90.0,False,False
44311,7/1/2024,Bolivia,Panama,Panama,José Fajardo,22.0,False,False
44312,7/1/2024,Bolivia,Panama,Bolivia,Bruno Miranda,69.0,False,False
44313,7/1/2024,Bolivia,Panama,Panama,Eduardo Guerrero,79.0,False,False
44314,7/1/2024,Bolivia,Panama,Panama,César Yanis,90.0,False,False
44315,7/1/2024,France,Belgium,France,Jan Vertonghen,85.0,True,False
44316,7/1/2024,United States,Uruguay,Uruguay,Mathías Olivera,66.0,False,False
44317,7/2/2024,Austria,Turkey,Turkey,Merih Demiral,1.0,False,False
44318,7/2/2024,Austria,Turkey,Turkey,Merih Demiral,59.0,False,False
44319,7/2/2024,Austria,Turkey,Austria,Michael Gregoritsch,66.0,False,False
44320,7/2/2024,Brazil,Colombia,Brazil,Raphinha,12.0,False,False
44321,7/2/2024,Brazil,Colombia,Colombia,Daniel Muñoz,45.0,False,False
44322,7/2/2024,Costa Rica,Paraguay,Costa Rica,Francisco Calvo,3.0,False,False
44323,7/2/2024,Costa Rica,Paraguay,Costa Rica,Josimar Alcócer,7.0,False,False
44324,7/2/2024,Costa Rica,Paraguay,Paraguay,Ramón Sosa,55.0,False,False
44325,7/2/2024,Romania,Netherlands,Netherlands,Cody Gakpo,20.0,False,False
44326,7/2/2024,Romania,Netherlands,Netherlands,Donyell Malen,83.0,False,False
44327,7/2/2024,Romania,Netherlands,Netherlands,Donyell Malen,90.0,False,False
44328,7/4/2024,Argentina,Ecuador,Argentina,Lisandro Martínez,35.0,False,False
44329,7/4/2024,Argentina,Ecuador,Ecuador,Kevin Rodríguez,90.0,False,False
44330,7/5/2024,Germany,Spain,Spain,Dani Olmo,51.0,False,False
44331,7/5/2024,Germany,Spain,Germany,Florian Wirtz,89.0,False,False
44332,7/5/2024,Germany,Spain,Spain,Mikel Merino,119.0,False,False
44333,7/5/2024,Venezuela,Canada,Canada,Jacob Shaffelburg,13.0,False,False
44334,7/5/2024,Venezuela,Canada,Venezuela,Salomón Rondón,65.0,False,False
44335,7/6/2024,Colombia,Panama,Colombia,Jhon Córdoba,8.0,False,False
44336,7/6/2024,Colombia,Panama,Colombia,James Rodríguez,15.0,False,True
44337,7/6/2024,Colombia,Panama,Colombia,Luis Díaz,41.0,False,False
44338,7/6/2024,Colombia,Panama,Colombia,Richard Ríos,70.0,False,False
44339,7/6/2024,Colombia,Panama,Colombia,Miguel Borja,90.0,False,True
44340,7/6/2024,England,Switzerland,Switzerland,Breel Embolo,75.0,False,False
44341,7/6/2024,England,Switzerland,England,Bukayo Saka,80.0,False,False
44342,7/6/2024,Netherlands,Turkey,Turkey,Samet Akaydin,35.0,False,False
44343,7/6/2024,Netherlands,Turkey,Netherlands,Stefan de Vrij,70.0,False,False
44344,7/6/2024,Netherlands,Turkey,Netherlands,Mert Müldür,76.0,True,False
44345,7/9/2024,Argentina,Canada,Argentina,Julián Álvarez,22.0,False,False
44346,7/9/2024,Argentina,Canada,Argentina,Lionel Messi,51.0,False,False
44347,7/9/2024,Spain,France,France,Randal Kolo Muani,9.0,False,False
44348,7/9/2024,Spain,France,Spain,Lamine Yamal,21.0,False,False
44349,7/9/2024,Spain,France,Spain,Dani Olmo,25.0,False,False

In [14]:
len(gs)

44350

uisng messi filter

In [17]:
gs[(gs.scorer=='Lionel Messi')]

,date,home_team,away_team,team,scorer,minute,own_goal,penalty
26136,6/16/2006,Argentina,Serbia,Argentina,Lionel Messi,88.0,False,False
26839,7/8/2007,Argentina,Peru,Argentina,Lionel Messi,61.0,False,False
26871,7/11/2007,Mexico,Argentina,Argentina,Lionel Messi,61.0,False,False
27183,10/16/2007,Venezuela,Argentina,Argentina,Lionel Messi,43.0,False,False
27452,11/20/2007,Colombia,Argentina,Argentina,Lionel Messi,36.0,False,False
28562,10/11/2008,Argentina,Uruguay,Argentina,Lionel Messi,6.0,False,False
28855,3/28/2009,Argentina,Venezuela,Argentina,Lionel Messi,26.0,False,False
31099,10/7/2011,Argentina,Chile,Argentina,Lionel Messi,25.0,False,False
31481,11/15/2011,Colombia,Argentina,Argentina,Lionel Messi,61.0,False,False
31760,6/2/2012,Argentina,Ecuador,Argentina,Lionel Messi,31.0,False,False
32040,9/7/2012,Argentina,Paraguay,Argentina,Lionel Messi,64.0,False,False
32241,10/12/2012,Argentina,Uruguay,Argentina,Lionel Messi,65.0,False,False
32243,10/12/2012,Argentina,Uruguay,Argentina,Lionel Messi,79.0,False,False
32354,10/16/2012,Chile,Argentina,Argentina,Lionel Messi,28.0,False,False
32546,3/22/2013,Argentina,Venezuela,Argentina,Lionel Messi,45.0,False,True
33289,9/10/2013,Paraguay,Argentina,Argentina,Lionel Messi,12.0,False,True
33293,9/10/2013,Paraguay,Argentina,Argentina,Lionel Messi,52.0,False,True
33626,6/15/2014,Argentina,Bosnia and Herzegovina,Argentina,Lionel Messi,65.0,False,False
33674,6/21/2014,Argentina,Iran,Argentina,Lionel Messi,90.0,False,False
33721,6/25/2014,Nigeria,Argentina,Argentina,Lionel Messi,3.0,False,False
33723,6/25/2014,Nigeria,Argentina,Argentina,Lionel Messi,45.0,False,False
34419,6/13/2015,Argentina,Paraguay,Argentina,Lionel Messi,35.0,False,True
35638,3/29/2016,Argentina,Bolivia,Argentina,Lionel Messi,30.0,False,True
35804,6/10/2016,Argentina,Panama,Argentina,Lionel Messi,68.0,False,False
35805,6/10/2016,Argentina,Panama,Argentina,Lionel Messi,78.0,False,False
35806,6/10/2016,Argentina,Panama,Argentina,Lionel Messi,87.0,False,False
35883,6/18/2016,Argentina,Venezuela,Argentina,Lionel Messi,60.0,False,False
35910,6/21/2016,United States,Argentina,Argentina,Lionel Messi,32.0,False,False
35966,9/1/2016,Argentina,Uruguay,Argentina,Lionel Messi,43.0,False,False
36511,11/15/2016,Argentina,Colombia,Argentina,Lionel Messi,10.0,False,False
36610,3/23/2017,Argentina,Chile,Argentina,Lionel Messi,15.0,False,True
37443,10/10/2017,Ecuador,Argentina,Argentina,Lionel Messi,11.0,False,False
37444,10/10/2017,Ecuador,Argentina,Argentina,Lionel Messi,19.0,False,False
37445,10/10/2017,Ecuador,Argentina,Argentina,Lionel Messi,62.0,False,False
37636,6/26/2018,Nigeria,Argentina,Argentina,Lionel Messi,14.0,False,False
38574,6/19/2019,Argentina,Paraguay,Argentina,Lionel Messi,57.0,False,True
39727,10/8/2020,Argentina,Ecuador,Argentina,Lionel Messi,13.0,False,True
40461,6/3/2021,Argentina,Chile,Argentina,Lionel Messi,23.0,False,True
40766,6/14/2021,Argentina,Chile,Argentina,Lionel Messi,33.0,False,False
40935,6/28/2021,Argentina,Bolivia,Argentina,Lionel Messi,33.0,False,True
40936,6/28/2021,Argentina,Bolivia,Argentina,Lionel Messi,42.0,False,False
40973,7/3/2021,Argentina,Ecuador,Argentina,Lionel Messi,90.0,False,False
41438,9/9/2021,Argentina,Bolivia,Argentina,Lionel Messi,14.0,False,False
41439,9/9/2021,Argentina,Bolivia,Argentina,Lionel Messi,64.0,False,False
41440,9/9/2021,Argentina,Bolivia,Argentina,Lionel Messi,88.0,False,False
41628,10/10/2021,Argentina,Uruguay,Argentina,Lionel Messi,38.0,False,False
42382,3/25/2022,Argentina,Venezuela,Argentina,Lionel Messi,82.0,False,False
42901,11/22/2022,Argentina,Saudi Arabia,Argentina,Lionel Messi,10.0,False,True
42936,11/26/2022,Argentina,Mexico,Argentina,Lionel Messi,64.0,False,False
43007,12/3/2022,Argentina,Australia,Argentina,Lionel Messi,35.0,False,False
43038,12/9/2022,Netherlands,Argentina,Argentina,Lionel Messi,73.0,False,True
43045,12/13/2022,Argentina,Croatia,Argentina,Lionel Messi,34.0,False,True
43053,12/18/2022,Argentina,France,Argentina,Lionel Messi,23.0,False,True
43057,12/18/2022,Argentina,France,Argentina,Lionel Messi,109.0,False,False
44346,7/9/2024,Argentina,Canada,Argentina,Lionel Messi,51.0,False,False

multiple filters

In [28]:
gs[(gs.home_team=='Argentina') & (gs.away_team== 'Brazil')]

,date,home_team,away_team,team,scorer,minute,own_goal,penalty
13,7/10/1916,Argentina,Brazil,Argentina,José Durand Laguna,10.0,False,False
14,7/10/1916,Argentina,Brazil,Brazil,Manoel Alencar Monte,23.0,False,False
22,10/3/1917,Argentina,Brazil,Brazil,Neco,8.0,False,False
23,10/3/1917,Argentina,Brazil,Argentina,Pedro Calomino,15.0,False,False
24,10/3/1917,Argentina,Brazil,Brazil,Silvio Lagreca,39.0,False,True
...,...,...,...,...,...,...,...,...
29352,9/5/2009,Argentina,Brazil,Brazil,Luís Fabiano,30.0,False,False
29353,9/5/2009,Argentina,Brazil,Argentina,Jesús Dátolo,65.0,False,False
29354,9/5/2009,Argentina,Brazil,Brazil,Luís Fabiano,68.0,False,False
35358,11/13/2015,Argentina,Brazil,Argentina,Ezequiel Lavezzi,34.0,False,False
35359,11/13/2015,Argentina,Brazil,Brazil,Lucas Lima,58.0,False,False